# Solana Wallet Keypair file path
ANCHOR_WALLET=./_keys/wallet.json

# Solana RPC Endpoint URL (Devnet / Mainnet-Beta)
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com

# Activated TxLINE API Token (retrieved after subscribing and activating on-chain)
X_API_TOKEN=
